$dark-green: #0f292f;
$med-green: #13373f;
$light-green: #14a098;
$bright-green: #13dfd4;

$dull-white: #aaaaaa;
$white: #cccccc;
$bright-white: #ffffff;

$pink: #cb2d6f;
$purple: #723356;

$project-display-height: 400px;
$project-display-width: 900px;

html, body {
  background-color: $dark-green;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: 'Prompt', sans-serif;
  color: $bright-white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: $white;
}

.techs {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
}

.hex {
  margin: 35px 0px;
  width: 60px;
  height: 40px;
  background: $light-green;
  position: relative;
}

.hex:hover {
  background-color: $bright-green;
}

.hex:before, .hex:after {
  content:"";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
}

.hex:before {
  top: -15px;
  border-bottom: 15px solid $light-green;
}
.hex:hover:before {
  border-bottom: 15px solid $bright-green;
}

.hex:after {
  bottom: -15px;
  border-top: 15px solid $light-green;
}

.hex:hover:after {
  border-top: 15px solid $bright-green;
}

.hex.inner {
  background-color:$dark-green;
  -webkit-transform: scale(.95, .95);
  -moz-transform: scale(.95, .95);
  transform: scale(.95, .95);
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex.inner:before {
  border-bottom: 15px solid $dark-green;
}

.hex.inner:after {
  border-top: 15px solid $dark-green;
  left: 0px;
}

.logo {
  width: min-content;
  margin: 10px;
}

.logo a {
  text-decoration: none;
  color: $light-green;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

.logo a:hover {
  color: $bright-green;
}

.project-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-display {
  width: $project-display-width;
  height: $project-display-height;
  margin: 10px;
  display: flex;
}

.project-display:nth-child(2n+1) {
  flex-direction: row;
  text-align: left;
}

.project-display:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.project-thumbnail {
  filter: sepia() saturate(100%) brightness(75%) hue-rotate(140deg);
}

.project-thumbnail:hover {
  filter: none;
}

img {
  height: $project-display-height;
}

.project-info {
  color: $white;
  width: 500px;
}

.project-details-text {
  width: 50%;
}

.project-display:nth-child(2n+1) .project-details {
  flex-direction: column;
  align-items: flex-end;
}

.project-display:nth-child(2n) .project-details {
  flex-direction: column;
  align-items: flex-start;
}

.project-display:nth-child(2n+1) .techs {
  text-align: center;
}

.project-display:nth-child(2n) .techs {
  text-align: center;
}

.project-details {
  background-color: $med-green;
}

.techs {
  display: flex;
  flex-direction: row;
  color: $dull-white;
  list-style: circle;
  list-style-position: inside;
}