$dark-green: #0f292f;
$med-green: #13373f;
$light-green: #14a098;
$bright-green: #13dfd4;

$dull-white: #aaaaaa;
$white: #cccccc;
$bright-white: #dddddd;

$pink: #cb2d6f;
$purple: #723356;

$yellow: #e0d423;

$project-display-height: 400px;
$project-display-width: 900px;

html, body {
  background-color: $dark-green;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: 'Prompt', sans-serif;
  color: $bright-white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: $white;
}

.techs {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: $dark-green;
  z-index: 2;
  // box-shadow: 0px 1px 5px $purple;
  border-bottom: 1px solid $purple;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hex {
  margin: 35px 0px;
  width: 60px;
  height: 40px;
  background: $light-green;
  position: relative;
}

.hex:hover {
  background-color: $bright-green;
}

.hex:before, .hex:after {
  content:"";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
}

.hex:before {
  top: -15px;
  border-bottom: 15px solid $light-green;
}
.hex:hover:before {
  border-bottom: 15px solid $bright-green;
}

.hex:after {
  bottom: -15px;
  border-top: 15px solid $light-green;
}

.hex:hover:after {
  border-top: 15px solid $bright-green;
}

.hex.inner {
  background-color:$dark-green;
  -webkit-transform: scale(.95, .95);
  -moz-transform: scale(.95, .95);
  transform: scale(.95, .95);
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex.inner:before {
  border-bottom: 15px solid $dark-green;
}

.hex.inner:after {
  border-top: 15px solid $dark-green;
  left: 0px;
}

.logo {
  width: min-content;
  margin: 10px;
}

.logo a {
  text-decoration: none;
  color: $light-green;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

.logo a:hover {
  color: $bright-green;
}

.bio {
  margin-top: 25px;
  width: 900px;

  h1 {
    color: $bright-white;
    font-size: 78px;
  }

  h2 {
    color: $dull-white;
    font-size: 48px;
    line-height: 1.1;
  }

  h3 {
    color: $light-green;
    font-family: 'Source Code Pro', monospace;
  }

  #pretty {
    font-family: 'Great Vibes', cursive;
    color: $pink;
  }

  #easy {
    font-family: 'Rock Salt', cursive;
    color: $yellow;
  }

  #function {
    font-family: 'Source Code Pro', monospace;
    color: $bright-green;
  }

  #email-button {
    font-size: 48px;
    font-family: 'Prompt', sans-serif;
    border: 1px solid $light-green;
    background-color: $dark-green;
    padding: 0px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  #email-button:hover {
    border-color: $bright-green;
  }

  #email-button a:hover {
    color: $bright-green;
  }

  #email-button a {
    display: inline-block;
    // width: 320px;
    // height: 70px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  a {
    color: $light-green;
    text-decoration: none;
  }
}

.project-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.project-display {
  width: $project-display-width;
  height: $project-display-height;
  margin-bottom: 100px;
  display: flex;
}

.project-display:nth-child(2n+1) {
  flex-direction: row;
  text-align: left;
}

.project-display:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.project-thumbnail {
  // filter: sepia() saturate(100%) brightness(65%) hue-rotate(140deg);
  width: 1000px;
}

.project-thumbnail:hover {
  filter: none;
}

img {
  height: $project-display-height;
  width: 1000px;
  border-radius: 5px;
}

.project-info {
  color: $white;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.project-title {
  margin: 0px 10px;
}

.project-details {
  background-color: $med-green;
  padding: 20px;
  width: 500px;
  overflow: visible;
  z-index: 1;
  border-radius: 5px;
}

.project-display:nth-child(2n+1) .project-details {
  flex-direction: column;
  align-items: flex-end;
}

.project-display:nth-child(2n) .project-details {
  flex-direction: column;
  align-items: flex-start;
}

.project-display:nth-child(2n+1) .techs {
  text-align: left;
}

.project-display:nth-child(2n) .techs {
  text-align: right;
}

.techs {
  margin-top: 10px;
  color: $dull-white;
}

.product-links {
  margin-top: 10px;
}

.project-display:nth-child(2n+1) .product-links {
  align-self: flex-end;
}

.project-display:nth-child(2n) .product-links {
  align-self: flex-start;
}

.link-icon {
  height: 30px;
  width: 30px;
  filter: invert(60%);
  margin-right: 10px;
}

.link-icon:hover {
  filter: invert(100%);
}

.navlink-icon {
  height: 40px;
  width: 40px;
}