html, body {

}

nav {
  border: 1px solid black;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.project-link {
  border: 1px solid black;
  width: 30%;
  margin: 10px;
}

.project-thumbnail {
  
}